@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "./modules/all";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --scrollbarBG: #7ed6df;
  --scrollbarBG2: #6c5ce7;
  --thumbBG: #fd79a8;
}
body {
  font-family: "Share Tech Mono", monospace;
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-track {
    background: linear-gradient(to bottom, var(--thumbBG), var(--scrollbarBG2));
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
}
.app {
  position: relative;
}

.example-enter {
  opacity: 0.01;
}

.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-appear {
  opacity: 1;
}

.example-appear-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
